@model Ario.CMS.Data.Models.Page
@{
    ViewData["Title"] = Model.PageTitle;
}

<section class="single first" style="padding-top: 220px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4 sidebar">
                <aside>
                    <div class="aside-body">
                        <figure class="ads">
                            <a href="single-post.html">
                                <img src="/WebSiteTemplate/images/ad.png">
                            </a>
                            <figcaption class="text-center">تبلغات</figcaption>
                        </figure>
                    </div>
                </aside>
            </div>
            <div class="col-md-12 col-lg-8 float-right">
                <ol class="breadcrumb">
                    <li><a href="#">خانه</a></li>
                    <li><a href="#">اخبار</a></li>
                    <li class="active">@Model.PageTitle</li>
                </ol>
                <article class="article main-article mt-5">
                    <header>
                        <h3 class="pt-0">@Model.PageTitle</h3>
                        <ul class="details">
                            <li>تاریخ @Model.CreateDate.ToShamsi()</li>
                            <li><a>@ViewBag.groupName</a></li>
                            <li><a>@Model.Visit بازدید</a></li>
                        </ul>
                    </header>
                    <div class="main">
                        <p>
                            @Model.ShortDescription
                        </p>
                        <div class="featured mb-5">
                            <figure>
                                <img src="/PageImages/@Model.ImageName">
                                <figcaption>تصویر ArioCMS</figcaption>
                            </figure>
                        </div>

                        <p>
                            @Html.Raw(Model.PageText)
                        </p>
                    </div>
                    <footer>
                        <div class="col d-inline-block pr-0">
                            <ul class="tags">
                                @foreach (var item in Model.Tags.Split(','))
                                {
                                    <li><a href="#">@item</a></li>
                                }
                            </ul>
                        </div>
                        <div class="col d-inline-block">
                            
                        </div>
                    </footer>
                </article>

                <div class="comments my-5" id="Comments">
                    <h2 class="title">نظرات <a href="#AddComment">یک دیدگاه جدید ارسال کنید.</a></h2>
                    <div class="comment-list">
                        <div class="item">
                            <div class="user">
                                <figure>
                                    <img src="/WebSiteTemplate/images/img01.jpg">
                                </figure>
                                <div class="details">
                                    <h5 class="name">لورم ایپسوم</h5>
                                    <div class="time">24 ساعت قبل</div>
                                    <div class="description">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <a href="#">لورم</a> لورم
                                        ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم
                                    </div>
                                    <footer>
                                         
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="user">
                                <figure>
                                    <img src="/WebSiteTemplate/images/img01.jpg">
                                </figure>
                                <div class="details">
                                    <h5 class="name">لورم ایپسوم</h5>
                                    <div class="time">12 ساعت قبل</div>
                                    <div class="description">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <a href="#">لورم</a> لورم
                                        ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم
                                    </div>
                                    <footer>
                                         
                                    </footer>
                                </div>
                            </div>
                            <div class="reply-list">
                                <div class="item">
                                    <div class="user">
                                        <figure>
                                            <img src="/WebSiteTemplate/images/img01.jpg">
                                        </figure>
                                        <div class="details">
                                            <h5 class="name">لورم ایپسوم</h5>
                                            <div class="time">18 ساعت قبل</div>
                                            <div class="description">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                                                ساختگی با تولید سادگی نامفهوم
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                                                ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                                سادگی نامفهوم
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                                                ساختگی با تولید سادگی نامفهوم
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                                                ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                                سادگی نامفهوم
                                            </div>
                                            <footer>
                                                 
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="user">
                                <figure>
                                    <img src="/WebSiteTemplate/images/img01.jpg">
                                </figure>
                                <div class="details">
                                    <h5 class="name">لورم ایپسوم</h5>
                                    <div class="time">23 ساعت قبل</div>
                                    <div class="description">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <a href="#">لورم</a> لورم
                                        ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم
                                    </div>
                                    <footer>
                                         
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="row" id="AddComment">
                        <div class="col-md-12">
                            <h3 class="title">ارسال دیدگاه جدید</h3>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="name">نام <span class="required"></span></label>
                            <input type="text" id="name" name="" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="email">ایمیل <span class="required"></span></label>
                            <input type="email" id="email" name="" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="website">وب سایت</label>
                            <input type="url" id="website" name="" class="form-control">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="message">دیدگاه <span class="required"></span></label>
                            <textarea class="form-control" name="message" placeholder="دیگاه خود را بنویسید ..."></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <button class="btn btn-primary float-right">ارسال دیدگاه</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
