@model Ario.CMS.Data.Models.Page
@{
    ViewData["Title"] = Model.PageTitle;
}

<section class="single first" style="padding-top: 220px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4 sidebar">
                <aside>
                    <div class="aside-body">
                        <figure class="ads">
                            <a href="single-post.html">
                                <img src="/WebSiteTemplate/images/ad.png">
                            </a>
                            <figcaption class="text-center">تبلغات</figcaption>
                        </figure>
                    </div>
                </aside>
            </div>
            <div class="col-md-12 col-lg-8 float-right">
                <ol class="breadcrumb">
                    <li><a href="#">خانه</a></li>
                    <li><a href="#">اخبار</a></li>
                    <li class="active">@Model.PageTitle</li>
                </ol>
                <article class="article main-article mt-5">
                    <header>
                        <h3 class="pt-0">@Model.PageTitle</h3>
                        <ul class="details">
                            <li>تاریخ @Model.CreateDate.ToShamsi()</li>
                            <li><a>@ViewBag.groupName</a></li>
                            <li><a>@Model.Visit بازدید</a></li>
                        </ul>
                    </header>
                    <div class="main">
                        <p>
                            @Model.ShortDescription
                        </p>
                        <div class="featured mb-5">
                            <figure>
                                <img src="/PageImages/@Model.ImageName">
                                <figcaption>تصویر ArioCMS</figcaption>
                            </figure>
                        </div>

                        <p>
                            @Html.Raw(Model.PageText)
                        </p>
                    </div>
                    <footer>
                        <div class="col d-inline-block pr-0">
                            <ul class="tags">
                                @foreach (var item in Model.Tags.Split(','))
                                {
                                    <li><a href="/search/search?q=@item">@item</a></li>
                                }
                            </ul>
                        </div>
                        <div class="col d-inline-block">

                        </div>
                    </footer>
                </article>
                <br />

                @await Component.InvokeAsync("ShowComments", new { pageId = Model.PageID })
                
                <form class="row" id="AddComment" asp-controller="News" asp-action="AddComment" asp-route-pageId="@Model.PageID">
                    <div class="col-md-12">
                        <h3 class="title">ارسال دیدگاه جدید</h3>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="name">نام <span class="required"></span></label>
                        <input type="text" id="name" name="Name" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="email">ایمیل <span class="required"></span></label>
                        <input type="email" id="email" name="Email" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="message">دیدگاه <span class="required"></span></label>
                        <textarea class="form-control" name="CommentText" placeholder="دیگاه خود را بنویسید ..."></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-primary float-right">ارسال دیدگاه</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
